
#title {
    background-color: #ecdfc8;
    padding-bottom: 70px;
    color: #e3ab89;
}

#features {
  padding: 2% 15% 7%;
  text-align: center;
}

#testimonials{
    background-color: #ecdfc8;
    text-align: center;
}

#pricing {
  text-align: center;
  padding: 2% 15% 0%;
}

#footer {
  text-align: center;
  padding: 0% 15% 0%;
  background-color: #ecdfc8;
}
/**#e3ab89 d8a586 c99d82**/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
}

h2 {
  margin-bottom: 18%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #001651;
}


h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.feature-p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

.hanasaka-1 {
  width: 100%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-item{
  padding: 0 1.125rem;
}

.nav-link{
  font-size: 1.2rem;
}

.shopping-button{
  margin: 5% 3% 5% 0;
}

.iqbal {
  width: 75%;
  padding-bottom: 5%
}

.iqbal-text {
  color: #001651;
}

.kukuh {
  width: 75%;
  padding-bottom: 5%
}

.kukuh-text {
  color: #001651;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-h3 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 600;
  color: #001651;
  padding-bottom: 4%;
}

.danila {
  width: 15%;
  margin: 20px;
}

.ianaxis {
  width: 15%;
  margin: 20px;
}

.card-img-top1 {
  width: 100%;
  height: 50%;
}

.card-img-top2 {
  width: 100%;
  height: 50%;
}

.card-img-top3 {
  width: 100%;
  height: 50%;
}

.card {
  height: 75%!important
}

.pricing-column {
  padding: 0 3% 0;
}

.copy {
  padding: 4% 0% 0%;
}

@media (max-width: 991px) {

#title {
  text-align: center;
}

.hanasaka-1 {
  width: 90%;
}

.form-inline {
  display: block;
}

.h-100 {
  width: 70%;
  margin-left: 106px;
}

.donat2 {
  height: 600px;
}

.donat {
  height: 70%!important
}

.card-img-top3 {
  width: 100%;
  height: 60%;
}


}

@media (max-width: 1024px) and (min-width: 992px) {

.navbar {
  width: 110%;
}

.form-control {
  margin-left: 0;
  width: 62%!important;
}

.hanasaka-1 {
  width: 120%;
  padding-top: 80px;
}

.card {
  height: 95%!important;
}

.text2 {
  padding-top: 20px;
  padding-bottom: 2px;
}

.text3 {
  padding-top: 30px;
  padding-bottom: 15px;
}




}
